$website-width: 1000px;

$page-max-height: 800px;

$columns: 12;
$columns-tablet: 8;

$columns-phone: 3;

// MQ
$tablet: 768px;
$phone: 480px;

// FONTS

$font-family-primary: "Lato", sans-serif;
$ultra-thin: 100;
$thin: 300;
$normal: 400;
$bold: 700;
$ultra-bold: 900;

// MENU
$menu-position: right;
$menu-font-color: black;
$menu-size: 1.2rem;

//
$bg-color-first-page: rgb(255, 186, 161);
