#home-c {
  & .stars {
    width: 150px;
  }
  & .row {
    &.item-columns {
      & .col-12 {
        margin-top: -45px;
      }
      & .col-8 {
        color: orange;
        margin-left: -30px;
      }
    }
  }
}
