%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn {
  &-light-blue {
    @extend %btn-shared;
    color: $light-blue-text;
    background-color: $light-blue;
    text-transform: capitalize;
    // &:hover {
    //   background-color: blue;
    //   color: white;
    // }
  }
}
.btn {
  &-outline-light-blue {
    @extend %btn-shared;
    color: $outline-light-blue-text;
    background-color: $outline-light-blue;
    border: $outline-light-blue 1px solid;
    text-transform: capitalize;
    // &:hover {
    //   background-color: blue;
    //   color: white;
    // }
  }
}
.btn {
  &-yellow {
    @extend %btn-shared;
    color: $yellow-text;
    background-color: $yellow;

    text-transform: uppercase;

    & :hover {
      background-color: red;
    }
  }
}

// button[class^="btn-"]:hover,
// a[class^="btn-"]:hover,
// input[class^="btn-"]:hover {
//   background-color: blue;
//   color: white;
// }
