body {
  font-family: $font-family-primary;
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1rem;
}

// TONES
.text-grey {
  color: grey;
}

// WEIGHTS
.text-thin {
  font-weight: $thin;
}

// align
.t-center-x {
  text-align: center;
}

// ICONS

// SPLEACILS

.form-title {
  width: 400px;
}
